<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.silence.liccaitong" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity android:name=".activity.MainActivity" >
        </activity>
        <activity android:name=".activity.AddInAccount" >
        </activity>
        <activity android:name=".activity.AddOutAccount" >
        </activity>
        <activity android:name=".activity.ShowInAccount" >
        </activity>
        <activity android:name=".activity.ShowOutAccount" >
        </activity>
        <activity android:name=".activity.SendFeedback" >
        </activity>
        <activity android:name=".activity.SystemSetting" >
        </activity>
        <activity android:name=".activity.UserInfoSetting" >
        </activity>
        <activity android:name=".activity.SubjectManage" >
        </activity>
        <activity android:name=".activity.DataManage" >
        </activity>
        <activity android:name=".activity.DataStatistics" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".activity.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
